* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", Georgia, 'Times New Roman', Times, serif;
}

:root {
    
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: white;
    color: #000000;
}

.resources-container{
    display: flex;
    align-items: start;
    gap: 2rem;
    width: 70% !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    background: white;
    padding: 0.2rem;
    display: flex;
    z-index: 1000;
}

.logo img {
    padding-left: 3rem;
    width: 25rem;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 1rem 10rem;
}
.navbar a {
    margin-left: 6rem;
    font-size: 2rem;
    font-weight: 600;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(255, 1, 1);
}

.navbar a {
    text-decoration: none;
    color: #333;
    position: relative;
}
  
.navbar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #ff0000;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: width 0.3s ease-in-out;
}
  
.navbar a:hover::after {
    width: 100%;
}

.slider {
    position: relative;
}

.slider img {
    position: relative;
    width: 100vw;
    height: 700px;
    overflow: hidden;
    display: block;
    display: flex;
    animation: slide 20s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    45% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    70% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}

.slider {
    overflow: hidden;
}

.slider-img {
    display: inline-flex;
}

.slider-navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-navigation label {
    cursor: pointer;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
}

.home {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70%;
    left: 10%;
    color: whitesmoke;
    text-shadow: 1px solid  #333;
    z-index: 100;
}

.home-content h3 {
    font-size: 4rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 2.5rem;
    font-weight: 300;
}

.home-content h1, h3, p {
    text-shadow: 0 0 7rem #383838;
    outline: 2px 2px #383838;
}

.red-me {
    color: rgb(208, 83, 83);
}

.buddy-system {
    color: rgb(180, 0, 0);
    margin: 0;
    padding: 0;
    padding-top: 4rem;
}

.whoCTU {
    font-size: 5rem;
    text-align: center;
    color: rgb(180, 0, 0);
}
#videoCTU {
    margin-top: 0;
    max-width: 800px;
    margin: 0 auto;
    display: block;
}

.buddy-system p {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.academic {
    padding: 5rem 8%;
    background: rgb(255, 255, 255);
}

.services-container {
    padding: 3rem 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: rgba(255, 207, 207, 0.3);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .3rem solid transparent; 
    transition: 0.2s ease; 
}

.services-container .services-box:hover {
    border-color: rgb(255, 1, 1);
    transform: scale(1.06);
}

.services-box img {
    width: 7vw;
    margin-bottom: 1rem;
}

.services-box h3 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 1px #333;
}

.services-box p {
    font-size: 1.7rem;
    margin: 1rem 0 3rem;
    margin-left: 1rem;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px #333;
}

.buttons {
    cursor: pointer;
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #4CAF50;
    color: white;
    border-radius: 4rem;
    font-weight: 300;
    font-size: 1.6rem;
    text-shadow: 1px 1px 1px #333;
    transition: transform 0.3s ease;
}

.buttons:hover {
    transform: scale(1.1);
    background-color: rgb(255, 1, 1);

}

.chooseCTU {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(180, 0, 0);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 5%;
    padding-right: 9%;
    background: white;
    text-align: center;
}

.nav-footer {
    padding: 2rem 0;
    width: 100%;
}

.nav-footer a {
    color: #383838;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 5px;
}

.nav-footer a:hover {
    color: red;
}

.footer-text p {
    font-size: 1.5rem;
    color: black;
}

.footer-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: red;
    border-radius: 20rem;
    transition: .2s ease;
}

.footer-icon a:hover {
    transform: scale(1.2);
    box-shadow: 0 0 1rem red;
}

.back-arrow {
    width: 2rem;
    color: black;
    filter: invert(1);
}
.logo2 {
    position: absolute;
    padding-bottom: 5rem;
}
.about {
    padding: 1.5rem 2%;
    color: rgb(180, 0, 0); /* Dark red color */
    font-size: 1.7rem;
}

.about h1 {
    color: rgb(180, 0, 0);
    padding-top: 7rem;
    text-align: center;
    font-size: 4.5rem;
}

.about p {
    text-align: justify;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: auto;
    height: 200px; /* Fixed height for all images */
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member p {
    color: rgb(129, 0, 0); /* Dark red color */
    font-size: 1.7rem;
}


.timetable-text {
    padding: 8rem 1rem 3%;
    color: rgb(129, 0, 0);
    font-size: 3rem;
    text-align: center;
}
table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    border: 2px solid #dc3545;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #dc3545;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #dc3545;
    color: #fff;
    text-align: center;
}

td.lunch {
    background-color: #57b0ff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#video-background {
    background-size: cover;
    opacity: 80%;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    object-fit: cover;
}

.video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-shadow: 1px solid #333;
}

.video-content h1 {
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.video-content p {
    font-size: 2.2rem;
    line-height: 1.6;
}

.rules ul {
    padding: 3rem 2.2%;
    font-size: 1.7rem;
    line-height: 2.6rem;
    font-weight: bold;
}

.content-section {
    padding: 3rem 3%;
    background-color: whitesmoke;
}

.content-section {
        
        margin: 50px auto;
        
        background-color: whitesmoke;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: #d32f2f;
        font-size: 24px;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 15px;
    }

    .rules {
        background-color: #ffebee;
        padding: 15px;
        border-radius: 5px;
    }

    
.chat {
    padding: 2rem 10%;
    overflow-y: auto;
}

.chat-head {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.chat-head img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.chat-message p {
    background-color: #f0f0f0;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
}

.username {
     font-weight: bold;
     color: rgb(185, 0, 0);
}
    
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.input input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 3rem;
}

.input button:hover {
    background-color: #ff0000;
}

.user1-left .chat-head img {
    width: 4rem;
    margin-right: 2rem;
    background-color: whitesmoke;
    border: 2px solid #4caf50;
}
    
.chat-message {
    margin-bottom: 1.5rem;
    max-width: 100%;
    padding-left: 35rem;
}

.user-right {
    width: 70vw;
}
    
.user-right {
    padding: 1rem;
    position: relative;
    border-radius: 1rem;
}
    
.chat-message .chat-head .username {
    font-size: 2.5rem;
    color: rgb(129, 0, 0); 
}
    
.chat-message.user1-left .chat-head .username {
    color: rgb(129, 0, 0);
    
}

.chat-head img {
    background-color: whitesmoke;
    border: 2px solid #4caf50;
}


.resources-heading {
    padding: 7rem  3% 2rem 3%;
    font-size: 4rem;
    text-align: center;
    color: rgb(129, 0, 0);
}

.resources-text {
    padding: 2rem 3%;
    color: rgb(180, 0, 0);
    font-size: 2.3rem;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-upload input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.container .button {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.container .button:hover {
    background-color: #ff0000;
}

.container button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    width: 100%;
}

.container button:hover {
    background-color: #ff0000;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.image-container {
    width: 80%; 
    margin: 0 auto 20px;
}

.image-container img {
    width: 100%;
    border-radius: 50%;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}


.contact {
    padding: 1rem 3%;
}

.contact h1 {
    padding-top: 7rem;
    font-size: 4rem;
    color: red;
    text-align: center;
    margin-bottom: 3rem;
}
.contact p {
    font-size: 2rem;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #fff;
    background: rgba(255, 0, 0, 0.1);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .buttons {
    margin-top: 2rem;
    cursor: pointer;
}


.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
}

.icon-style {
    border: none;
    background-color: transparent; 
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 0 1rem;
}


.icon-style:hover {
    transform: scale(1.3);
}

#navCTU {
    margin-top: 0;
    max-width: 800px;
    margin: 0 auto;
    display: block;
}

.phone-list {
    list-style-type: none;
    padding: 1rem 0 3rem 0;
    align-items: center;
    text-align: center;
    color: rgb(129, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.phone-list a {
    color: inherit;
    text-decoration: none;
    transition: text-decoration 0.3s;
    font-size: 1.5rem;
    display: block;
}

.phone-list a:hover {
    text-decoration: underline;
}
.contact-text {
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

.contactCTU {
    font-size: 1.5rem;
    color: rgb(129, 0, 0);
    text-align: center;
    padding: 3rem 2rem 0;
}

.center-text {
    text-align: center;
    color: rgb(129, 0, 0);
    font-size: 1.5rem;
}

.center-image {
    padding: 2rem 0;
    display: block;
    margin: 0 auto;
}
